
body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  color: #333;
}

header {
  background: #f0f9e5;
  color: rgb(63, 69, 27);
  padding: 10px;
  text-align: center;
  padding-top: 20px;
}


main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

footer {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}

.brand {
  text-align: center;
   }
